.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px 20px;
  border-radius: 18px;
  background-color: white;
}

.input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: none;
}

.inputIcon {
  color: gray;
  transition: 0.5s;
}

.inputContainer:hover .inputIcon {
  color: rgb(245, 187, 245);
  transform: scale(120%);
}

.categoryContainer {
  margin: 20px 2px;
  display: flex;
  overflow-x: scroll;
}
.categoryBtn {
  padding: 7px 20px;
  margin-right: 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-weight: 800;
  font-size: 14px;
  cursor: pointer;
}
.categoryBtn:hover {
  letter-spacing: 1px;
}
.seletBtn {
  background-color: black;
  color: whitesmoke;
}

.coverImg {
  object-fit: cover;
  height: 40vw;
  border-radius: 30px;
  filter: brightness(80%);
  max-height: 250px;
}
.coverImg:hover {
  filter: brightness(100%);
}

.coverText {
  letter-spacing: 1px;
  color: whitesmoke;
  transform: translate(20px, -30px);
}
.filterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filterText {
  color: gray;
}
.filterSelect {
  color: black;
  font-size: 20px;
}
.expandIcon {
  font-size: 18px;
  color: rgb(80, 78, 78);
}
.expandIcon:hover {
  transform: scale(105%);
}
.produtContainer {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  /* flex-wrap: wrap; */
  margin-bottom: 20px;
}

.produt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
  width: 350px;
  height: 420px;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.301);
  cursor: pointer;
}

.produt:first-child {
  margin-left: 0;
}
.produt:hover .produtPhoto {
  transform: scale(105%);
}
.produtPhoto {
  margin: auto;
  width: 220px;
  height: 210px;
}

.produtDetail {
  height: 20%;
  padding: 10px 20px;
  color: black;
}
.detailTop,
.detailBottom {
  display: flex;
  justify-content: space-between;
}

.detailTop {
  height: 35px;
}
.detailBottom {
  align-items: center;
}
.name {
  font-size: 18px;
  font-weight: 700;
}

.tags {
  font-size: 13px;
  color: blue;
}
.lastDate {
  font-size: 14px;
}

@media (max-width: 768px) {
  /* .produtContainer {
    overflow-x: scroll;
    flex-wrap: nowrap;
  } */
}

::-webkit-scrollbar {
  height: 0px;
}
